<!DOCTYPE html>
<html>
<head>
  <title>ExampleApp</title>
  <script>
    function load() {
	// Ce scandal !!!
      //setTimeout(function() {location=''}, 50)
	
    }
    window.onload = load;
  </script>
</head>
<body>

<h1>La page de base</h1>
<%= yield %>

</body>
</html>
